@model quiz_web.Models.Answer

@{
    ViewBag.Title = "Answers";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}


@using (Html.BeginForm()) {
  <fieldset>
        <legend>Answers</legend>
    @foreach (var item in ViewBag.Questions)
    {
        <label>@item.coso</label>
        <br />
        @Html.TextBoxFor(mmodel => mmodel.answer, new { type = "text" })
        <br />
         @Html.ActionLink("Send","AnswersNew", "Test",new { idTest = ViewBag.testID , idStudent = ViewBag.Student, idQues = item.ID},new { @class = "btn btn-danger btn-mini" })  
    }
      
   
    <!--<p>
        <input class="btn btn-primary" type="submit" value="Create" />
    </p>-->
</fieldset>
}
