@model quiz_web.Models.Answer

@{
    ViewBag.Title = "Answers";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}


<fieldset>
    <h2>Answers</h2>
    @foreach (var item in ViewBag.Questions)
    {
        <label>@item.question</label>
        <br />
        @Html.TextBoxFor(mmodel => mmodel.answer, new { type = "text" })
        <br />
    }
</fieldset>