@model quiz_web.Models.Answer

@{
    ViewBag.Title = "Answers";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}


<Strong>Answers</Strong>
@foreach (var item in ViewBag.Questions)
{   
    <label>@item.coso</label>
<form action="/Test/Response" method ="post">
    <input id="question_id" name="question_id" type="hidden" value="@item.ID" />
    <input id="student_id" name="student_id" type="hidden" value="@ViewBag.Student" /> 
    <input id="test_id" name="test_id" type="hidden" value="@ViewBag.testID" />       
    <input id="coso" name="coso" type="text" />
    <input id="response" name="response" type="submit" value="Send" />
</form>
}



<!--@Html.ActionLink("Send","AnswersNew", "Test",new { idTest = ViewBag.testID},
new { @class = "btn btn-danger btn-mini" })-->