@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


    <footer>
      <div class="content-wrapper">
        <div class="float-left">
          <p>&copy; @DateTime.Now.Year - Programacion en ambiente web II</p>
        </div>
      </div>
    </footer>
